<h2>List of tasks</h2>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= task.title %>
    <p><%= link_to 'Show details', task %></p>
    <p><%= link_to 'Delete task', destroy_path(task),  method: :delete %></p>

   </li>
  <% end%>
</ul>

<p><%= link_to 'Create new task', new_path %></p>

